<!DOCTYPE html>
<html>
	<head>
  		<title>Animaciones - Angularjs</title>
  		<meta charset="utf-8">
  		<link rel="stylesheet" href="../../css/bootstrap.min.css">
  		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
		<link rel="stylesheet" href="css/animacion.css">
  		<script src="../../js/angular.min.js"></script>
  		<script src="http://code.angularjs.org/1.2.13/angular-animate.js"></script>
  		<script src="js/animacion.js"></script>
	</head>
	<body ng-app="miAp">
	  	<div class="container" ng-controller="AnimacionCtrl">
	    	<div class="page-header">
	      		<h1 class="animar" ng-if="visible">Animaciones <small>con AngularJS</small></h1>
	    	</div>

	    	<button class="btn btn-success btn-lg fa fa-play-circle" ng-click="visible=!visible"></button>
		</div>
	</body>
</html>