.difuminar {
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
}

.difuminar.ng-enter {
    opacity: 0;
}

.difuminar.ng-enter-active {
    opacity: 1;
}

.difuminar.ng-leave {
    opacity: 1;
}

.difuminar.ng-leave-active {
    opacity: 0;
}